

  .cuadrado {
    width: 100%; /* Ancho del cuadrado */
    height: 100%;  /* Altura del cuadrado */
    border-radius: 10px; /* Radio de las esquinas del cuadrado */
    overflow: hidden; /* Oculta el contenido que se sale del radio */
    position: relative;
    padding: 20px /* Permite posicionar elementos hijos */
  }

  .contenedor_border{
    height: 100%; 
    position:absolute;
    width: 100%;   
  }

