
.footer {

background-color: #1B203A;
color: rgb(255, 255, 255);
padding: 2rem 0;
text-align: left;
display: block;
width: 100%;
cursor: default;
}
.footer .contenido {
    
background-color: #1B203A;
    width: 100%;
    border: 0;
    display: flex;
    justify-content: flex-start;
    transition: all 1s;
}

.footer .contenido .links_footer{
    display: flex;
  justify-content: space-between;
  width: 68%;
  cursor: default;
  transition: all 1s;
}

.footer .contenido .links_footer .contenedores{

    text-align: justify;
    color: rgb(255, 255, 255);
    max-width: 20rem;
    width:100%;
    min-width: 4rem;
    word-wrap: break-word;
}

.footer  img{

padding:0;
     margin:0;
     border: 0;
    
    margin-left:3rem !important;
    margin-right:3rem !important;
    transition: all 0.5s;
    background-color: #1B203A;
    max-width: 15em;
    width:50%;
    min-width: 5rem;
  

}
@media only screen and(max-width:300px){
    .footer  img{
        padding:0;
     margin:0;
     border: 0;
    
    margin-left:0 !important;
    margin-right:0 !important;
    transition: all 0.5s;
    background-color: #1B203A;
    max-width: 15em;
    width:50%;
    min-width: 5rem;
    }
}
.footer .imagen_footer{
    display: inline-block;
}

.footer .Copyritght{
    text-align: center;
}


.footer ul{
    list-style: disc !important;
}
.footer li{
    list-style: disc !important;
cursor: default;
}
.footer li a {
    color: rgb(255,255,255);
    font-weight: 200;
    font-size: 16px;
    transition:all 0.4s linear ;
    
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
 text-decoration: none;
 
    
}

.footer li a:hover{
    color: blue;
    background-color: antiquewhite;
}

@media only screen and (max-width: 767px){

    .footer .contenido {
        background-color: #1B203A;
    width: 100%;
    border: 0;
    display: flex;
    flex-direction: column;
 /* Agrega una transición para suavizar el cambio */

    }

    .footer .contenido .links_footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        cursor: default;
        
    }

    .footer .contenido .links_footer .contenedores {
 
        text-align: center;
        color: rgb(255, 255, 255);
       
    }
    .footer .contenido .links_footer .contenedores ul {
padding: 0;
    }
    .footer .contenido .links_footer .contenedores li {
        list-style: none !important;
    }
    .footer .contenido .links_footer .contenedores h3{
        text-align: center;
    }

}