.container_Presentacion{
    width: 100%;
    height: 33.5rem;
  
    margin: 0 auto ;
    position: relative;
  z-index: -3;
}
.main{

   margin: auto;
   width:530px; 
 padding-top:2rem ;
}
.main .play svg{
z-index: 5;
width: 100px;
height: 100px;
position: absolute;
left: 50%;
top: 40%;
z-index: 1;
cursor: pointer;
}
.main .play svg:active{
  box-shadow: 10px 10px 20px rgba(0,0,0,0.4);
}


.videoFormato{
  z-index: 5;
  position: absolute;
  transition: all 400ms ease;
  background-color: rgb(3, 6, 8);
  width: 100%;
  height: 100%;
  transition: all 400ms ease;    
  bottom: 100%;

}

.videoFormato.bajar{
  bottom: 0;

}
 .Cerrar svg{
  margin: 10px;
left: 90%;  
width: 100px;
  height: 100px;
  position: absolute;
 
}


.Cerrar svg path:hover{

  fill: rgb(44, 60, 206);
  }
  
  .Cerrar svg path{
    fill: white;
    padding: 5px;
    width:100%; 
    height:100%;
    cursor: pointer;
  }
  
