*{
    font-family: 'Roboto', sans-serif;

}
.fotoFondo{
    width: 100%;
    height:150%;
    background: url('./Imagenes/FondoColegio.jpg') no-repeat;
    background-size:cover ;
    background-repeat:no-repeat; background-position-x:center; 
    background-position: center center;
    padding: 0;
    background-position-y:center;
    background-position: center center; 
    margin:20px;
}
.formaLogin{
display: grid;

grid-template-columns: 50% 50%;

width: 100%;padding: 10px;
margin: 10px;}

.todo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.subCarta{
    color:"black" !important;

}

.todo-Busqueda{

    background: white;
   
    border-top: 10px rgba(5, 62, 248, 1) solid;
border-radius: 5px; padding: 0; margin: 0;
}
.cabecera-busqueda{
margin-top: 8px;
margin-left: 10px; font-size: 15px; color: blue;
}
.cuerpo-busqueda{

  
padding: 0 1rem 1rem 1rem;
margin:  0 5px 5px 5px;
}

.cabecera .items{
display: inline-block;
   

margin:0;
padding: 0;
}
    .cabecera .items .items_Inferior{
        
        display: inline-flex;
        color:rgb(253, 253, 253);
         height: 2.5rem;
         text-align: center;
         align-items: center;
         cursor: pointer;text-decoration: none;
        letter-spacing: 5px; font-size: 20px;
         margin-left: 1rem;
         margin-right: 1rem;
         margin-top: 0.7rem;

    }
    .cabecera .items .items_Inferior-desplegable{
        display: inline-flex; cursor: pointer;  
        font-size: 20px;
        margin-top: 0.7rem;  height: 2.5rem;
        text-align: center;
        align-items: center;  text-overflow: " [..]";
    }

    .develop{
        position: relative;
    }


    .cabecera .items .items_Inferior2{
        display: inline-block;
        margin-right: 20rem;
       color:rgb(253, 253, 253);font-size: 30px;
       letter-spacing: 8px;
        height: 2.5rem;
        text-align: center;
        align-items: center;
        cursor: pointer;text-decoration: none;
       
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 0.7rem;

    }

    li {
        list-style: none;
        cursor: pointer;
        padding:0.5rem 0 0.5rem 0;
        transition:  all .3s ease 0s;
    }
    
    li:hover {

    }
    .con{
        color:rgb(0, 0, 0);
        font-weight: 500;
   
        text-shadow:rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    .con:hover{

color:rgb(255, 255, 255);
    }


    .fondoEntrada{
        
        background-size:cover ;
        background-repeat:no-repeat; 
        background-position: center ;

        display: inline-block;
        max-height: 34.7rem;
        max-width: 100%;
        align-items: center;
    }


    .Cabecera-table{
        margin: 1rem;
        display: inline-block;
    }


    @media only screen and  (min-width:580px) and (max-width: 733px) {
        .cabecera{
            height: 8rem;
        }
        .cabecera .items .items_Inferior{
            font-size: 15px;
        }
        .cabecera .items .items_Inferior2{
            font-size: 25px;
            margin-right: 5rem;
        }
    }
 

  


.cuerpo-post-mesa{
    display: grid;
    grid-template-columns: 10% 80% 10%;
 
}
.navIma{
  
 
    background-size:cover ;
    background-repeat:no-repeat; 
    background-position: center ;
background-color: red;
    display: inline-block;
    height: 34.666rem;
    max-width: 100%;
    align-items: center;

}
.tamañoTable{
    width: 20px;
}
.field{
    margin-top: 0.5rem;
}

.radioButtonMesaPartes{
    display: inline-block;
    margin: 2px;
}
.cuerpoRadio{
    display: block;

}

.DataMuestra{

border-radius: 10px;
border: 2px solid black ;
padding: 0.5rem;
margin-top: 0.5rem;


text-shadow:rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




